extends layout

block content
  .book
    img( src="/fit/10000/400/#{images[0]}", srcset="/fit/10000/800/#{images[0]} 2x" )

    p
      h1 portrait session - $60
      ul
        li - 15-30 min pre-consultation
        li - 60-90 min shoot
        li - up to two locations
        li - 30-40 edited, full resolution photos

    p Email me at chelsealynnredd@gmail.com to discuss personalized packages

    h2 chelsealynnredd@gmail.com
    h2 801.995.1614

    p.soft All our images are copy-right free and digitally retouched.  Delivery dates are usually between 1 and 2 weeks after the photoshoot.  If you have a special request, feel free to send me an email or text.



