extends layout 

block content
  .book
    img( src="/fit/10000/400/#{images[0]}" )

    p
      h1 single portrait session - $50
      h1 couple/family session - $60
      h1 bridal session - $100
      h1 engagement session - $100

    p Each session includes:
      ul
        li One hour photoshoot 
        li Digital retouches
        li Digital access to photos
    p
      h1 wedding day - $300
      ul
        li Full day wedding coverage
        li Digital retouches
        li Digital access to photos

    p Email me at chelsea@chelsealynnportraits.com to discuss personalized packages

    h2 chelsea@chelsealynnportraits.com
    h2 801.995.1614

    p.soft All our images are copy-right free and digitally retouched.  Delivery dates are usually between 1 and 2 weeks after the photoshoot.  If you have a special request, feel free to send me an email or text. 



