extends layout

block content

  .allImages
    each image in images
      .contentImage
        img.centerImage( src="/fit/800/600/#{image}", srcset="/fit/1600/1200/#{image} 2x" )

  .menu
    .allMenu
      each image in images
        .menuImage
          img( src="/fit/1000/100/#{image}", srcset="/fit/2000/200/#{image} 2x" )
