extends layout 

block content
  
  .client
    .download Click the image to download the HD version

    each image in images
      a(href="/image/#{image}")
        img( src="/fit/100/100/#{image}" )


