extends layout 

block content
  .images
    .allImages
      each image in images
        img( src="/fit/10000/600/http://localhost:2442#{image}" )
  button.arrow.left( src="/img/left.png")
  button.arrow.right( src="/img/left.png") 
