!!! 5
html( lang="en", ng-app="chelsealynn", xmlns="http://www.w3.org/1999/xhtml" )
  head
    title chelsea lynn portraits
    meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1" )
    link( href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css' )
    link( rel='stylesheet', href='/css/style.css' )

  body
    a.login( href="#" ) client login

    .title 
      | chelsea
      span.highlight lynn
      | portraits

    .content 
      block content

    .nav
      block nav
        ul
          li.selected 
            a( href="#" ) home
          li 
            a( href="#" ) weddings
          li 
            a( href="#" ) portraits
          li 
            a( href="#" ) facebook
          li 
            a( href="#" ) book chelsea

  footer Thanks you for visiting!  Hope you enjoyed the images.  <br> All things &copy; 2013 Chelsea Lynn Photography

  script( src="/js/script.js" )
