!!! 5
html( lang="en", ng-app="chelsealynn", xmlns="http://www.w3.org/1999/xhtml" )
  head
    title chelsea lynn portraits
    meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1" )
    link( href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css' )
    link( rel='stylesheet', href='/css/style.css' )

  body

    .login 
      a( href="#" ) client login
      input( type="text" )

    a( href="/" )
      .title
        | chelsea
        span.highlight  lynn
        |  portraits


    .nav
      block nav
        ul
          each loc in [{name: 'weddings', url: '/weddings'}, {name: 'portraits', url: '/portraits'}, {name: 'facebook', url: 'https://www.facebook.com/pages/Chelsea-Lynn-Portraits/257843164327419'}, {name: 'book chelsea', url:'/bookings'}]
            li
              if (page==loc.name)
                a.active( href='#{loc.url}' )= loc.name
              else 
                a( href='#{loc.url}' )= loc.name

    .content 
      block content

  footer Thanks you for visiting!  Hope you enjoyed the images.  <br> All things &copy; 2013 Chelsea Lynn Photography

  script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" )
  script( src="/js/script.js" )


  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43122006-1', 'chelsealynnportraits.com');
    ga('send', 'pageview');
