!!! 5
html( lang="en", ng-app="chelsealynn", xmlns="http://www.w3.org/1999/xhtml" )
  head
    title chelsea lynn portraits
    meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1" )
    link( rel='stylesheet', href='/css/style.css' )

  body
    .title 
      | chelsea
      span.highlight lynn
      | portraits

    div before
    block content
    div after


  script( src="/js/script.js" )
