extends layout 

block content
  .myself
    .images
      img( src="/fit/500/395/#{images[0]}" )

    p
      h1 Hi i'm Chelsea!

    p I'm a Utah-based photographer.  I love making people feel beautiful, it's my favorite part about photography. There is something special about watching someone's perspective change about who they are and how they can look in a photo. I am married to my best friend and partner-in-crime and love every day of my life with him. 

    p
      h1 I'm obsessed with antiques. 

    p Basically if it was made over 100 years ago, I'm into it. I love any show that has to do with makeovers, and am a sucker for love triangles. I love anything from the baked goods isle and love to travel the world with my hubby. I can't wait to work with you and get to know you! 

    p
      h1 Thank you for stopping by!

    h2 Chelsea Lynn Redd



