extends layout 

block content
  .myself
    .images
      img( src="/fit/200/400/#{images[0]}" )
      img( src="/fit/200/400/#{images[1]}" )
      img( src="/fit/200/400/#{images[2]}" )

    p
      h1 Chelsea was born December 20 1990

    p I like Tough economic times have created opportunities for people to exit corporate life to start businesses of their own.

    p That means the timing is perfect to stand out and attract more of the right clients by creating a winning bio that makes ideal customers stand up and take notice. Now that social networking plays a powerful role in how people seek new clients, new jobs, and new ways to be of service, telling one’s story so others will listen is essential.

    p
      h1 Chelsea has exactly 2 nieces, 3 sisters, and no babies

    p Many people struggle with this challenge. Whether they are overcome with humility, find it difficult to put pen to paper to say what needs to be said, or can’t seem to find the right, well chosen words to make the most of the web page assigned to their executive photo, the fact remains that telling a winning story about how you contribute to the marketplace is crucial in today’s marketplace.

    p
      h1 Chelsea does not like orange juice

    p One recipe that works really well is this one.

    p
      h1 Chelsea's favorite game is DOTA 2

    p Many people struggle with this challenge. Whether they are overcome with humility, find it difficult to put pen to paper to say what needs to be said, or can’t seem to find the right, well chosen words to make the most of the web page assigned to their executive photo, the fact remains that telling a winning story about how you contribute to the marketplace is crucial in today’s marketplace.

    p
      h1 Chelsea likes back scratches at night

    p One recipe that works really well is this one.

    p If you feel so inclined to say hello to chelsea here are some ways you can find her.

    h2 facebook
    h2 801.995.1614

    p.soft You may call this phone number, but chances are she will not answer - just leave a message.  She won't answer if you fall in any of these categories: 1. You will give her a church assignment.  2. You are looking to sell her cheap comcast cable.  3. You are a normal human being.



