a {
  text-decoration: none;
  color: #666;
}
button {
  background: none;
  border: none;
}
body {
  font-family: 'Lato', sans-serif;
  color: #666;
  background-color: #fff;
}
body .login {
  float: right;
  padding: 25px 25px 0 0;
}
body .title {
  font-size: 52px;
  font-weight: 100;
  padding: 0 0 10px 0;
  text-align: center;
}
.highlight {
  color: #1599ec;
}
.content {
  height: 600px;
}
.content .arrow {
  background-color: rgba(0,0,0,0);
  background-image: url("/img/left.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: absolute;
  top: 80px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 94px;
}
.content .arrow:hover {
  background-image: url("/img/left-down.png");
  background-color: rgba(0,0,0,0.067);
}
.content .left.arrow {
  left: 0;
}
.content .right.arrow {
  right: 0;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.content .images {
  overflow-x: hidden;
  width: 100%;
}
.content .allImages {
  left: 0px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 10000px;
}
.content .allImages img {
  display: inline-block;
  float: left;
  height: 600px;
  padding: 0 20px 0 20px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content .allImages img.selected {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.nav {
  clear: both;
  padding: 10px 0 10px 0;
}
.nav ul {
  list-style-type: none;
  margin: auto;
  width: 950px;
}
.nav ul li {
  display: inline;
  font-size: 40px;
  font-weight: 100;
  padding: 0 10px 0 10px;
}
.nav ul .selected a {
  color: #1599ec;
}
footer {
  color: #bbb;
  font-size: 12px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
