a {
  text-decoration: none;
  color: #666;
}
button {
  background: none;
  border: none;
}
body {
  font-family: 'Lato', sans-serif;
  color: #666;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
body .login {
  padding: 25px 25px 0 0;
  position: absolute;
  display: inline-block;
  right: 10px;
}
body .login input {
  display: none;
}
body .login a {
  display: inline;
}
body .login.focused input {
  display: inline;
}
body .login.focused a {
  display: none;
}
body .title {
  font-size: 52px;
  font-weight: 100;
  padding: 0 0 10px 0;
  text-align: center;
}
h1 {
  font-weight: 100;
  margin-bottom: 0;
}
h2 {
  color: #1599ec;
  font-weight: 100;
  font-size: 32px;
  padding: 0;
  margin: 0;
}
.highlight {
  color: #1599ec;
}
.content .arrow {
  background-color: rgba(0,0,0,0);
  background-image: url("/img/left.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: absolute;
  top: 140px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 194px;
}
.content .arrow:hover {
  background-image: url("/img/left-down.png");
  background-color: rgba(0,0,0,0.067);
}
.content .left.arrow {
  left: 0;
}
.content .right.arrow {
  right: 0;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.content .images {
  overflow-x: hidden;
  width: 100%;
}
.content .allImages {
  left: 0px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 200000px;
}
.content .allImages img {
  display: inline-block;
  float: left;
  height: 600px;
  margin: 0 40px 0 0;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  -o-opacity: 0.2;
  opacity: 0.2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px #444 solid;
}
.content .allImages img.selected {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.menu {
  clear: both;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 102px;
  margin: auto;
  padding-top: 20px;
  width: 60%;
}
.menu .allMenu {
  left: 0px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 200000px;
}
.menu .allMenu img {
  clear: none;
  display: inline-block;
  float: left;
  margin: 0 10px 0 10px;
  height: 100px;
  border: 1px #444 solid;
}
.book,
.myself {
  width: 60%;
  margin: auto;
}
.book img,
.myself img {
  float: right;
}
.book ul,
.myself ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.book .soft,
.myself .soft {
  color: #aaa;
}
.client {
  margin: auto;
  width: 60%;
}
.client img {
  border: 1px solid #777;
  margin: 2px;
}
.client .download {
  margin: 20px;
  text-align: center;
}
.client .download .subtext {
  font-size: 10pt;
  color: #aaa;
}
.client .download a {
  color: #1599ec;
  font-size: 24pt;
  font-weight: 400;
}
.nav {
  clear: both;
  padding: 10px 0 10px 0;
  text-align: center;
}
.nav ul {
  display: block;
  list-style-type: none;
  margin: auto;
  width: 950px;
}
.nav ul li {
  display: inline;
  font-size: 40px;
  font-weight: 100;
  padding: 0 10px 0 10px;
}
.nav ul li .active {
  color: #1599ec;
}
.myself .images {
  float: right;
  width: 395px;
}
.myself .images img {
  padding: 5px;
}
footer {
  clear: both;
  color: #bbb;
  font-size: 12px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
