highlight = #1599ec

transform()
  -moz-transform arguments
  -webkit-transform arguments
  -o-transform arguments
  -ms-transform arguments
  transform arguments

opacity()
  -webkit-opacity arguments
  -moz-opacity arguments
  -o-opacity arguments
  opacity arguments

transition()
  -webkit-transition arguments 
  -moz-transition arguments 
  -o-transition arguments 
  transition arguments 

a 
  text-decoration none
  color #666

button
  background none
  border none

body
  font-family 'Lato', sans-serif
  color #666

  background-color white 

  .login 
    float right
    padding 25px 25px 0 0

  .title 
    font-size 52px
    font-weight 100
    padding 0 0 10px 0
    text-align center

.highlight
  color highlight

.content 

  .arrow
    background-color #00000000
    background-image url('/img/left.png')
    background-position center
    background-repeat no-repeat
    height 700px
    position absolute
    top 80px
    transition all .5s ease
    width 94px

  .arrow:hover
    background-image url('/img/left-down.png')
    background-color #00000011

  .left.arrow
    left 0

  .right.arrow
    right 0
    transform scale(-1, 1)

  .images
    overflow-x hidden
    width 100%

  .allImages
    left 0px
    position relative
    transition all .5s ease
    width 200000px

    img 
      display inline-block
      float left
      height 700px
      margin 0 20px 0 20px
      opacity .2
      transition all .5s ease
      border 1px #444 solid

    img.selected
      opacity 1

.menu 
  clear both
  overflow-x scroll
  height 120px
  padding-top 20px
  width 100%

  .allMenu
    left 0px
    position relative
    transition all .5s ease
    width 200000px

    img 
      clear none
      display inline-block
      float left
      margin 0 10px 0 10px
      height 100px
      border 1px #444 solid


.nav 
  clear both
  padding 10px 0 10px 0

  ul 
    list-style-type none
    margin auto 
    width 950px 
    
    li 
      display inline
      font-size 40px
      font-weight 100
      padding 0 10px 0 10px

    .selected a
      color highlight

footer
  color #bbb
  font-size 12px
  padding-top 40px
  text-align center
  width 100%

