highlight = #1cafaa

a 
  text-decoration none
  color #666

body
  font-family 'Lato', sans-serif
  color #666

  background-color white 

  .login 
    float right
    padding 25px 25px 0 0

  .title 
    font-size 52px
    font-weight 100
    padding 0 0 10px 0
    text-align center

.highlight
  color highlight

.content 
  height 600px

  .images
    overflow-x visible
    overflow-y hidden
    width 100%

  .allImages
    width: 10000px

    img 
      display inline-block
      float left
      height 600px
      padding 0 20px 0 20px

.nav 
  clear both
  padding 10px 0 10px 0

  ul 
    list-style-type none
    margin auto 
    width 950px 
    
    li 
      display inline
      font-size 40px
      font-weight 100
      padding 0 10px 0 10px

    .selected a
      color highlight

footer
  color #bbb
  font-size 12px
  padding-top 40px
  text-align center
  width 100%

