highlight = #1599ec

transform()
  -moz-transform arguments
  -webkit-transform arguments
  -o-transform arguments
  -ms-transform arguments
  transform arguments

opacity()
  -webkit-opacity arguments
  -moz-opacity arguments
  -o-opacity arguments
  opacity arguments

transition()
  -webkit-transition arguments 
  -moz-transition arguments 
  -o-transition arguments 
  transition arguments 

a 
  text-decoration none
  color #666

button
  background none
  border none

body
  font-family 'Lato', sans-serif
  color #666
  padding 0
  margin 0

  background-color white 

  .login 
    padding 25px 25px 0 0
    position absolute
    display inline-block
    right 10px

    input
      display none
    a 
      display inline

  .login.focused
    input 
      display inline
    a
      display none


  .title 
    font-size 52px
    font-weight 100
    padding 0 0 10px 0
    text-align center

h1 
  font-weight 100
  margin-bottom 0

h2
  color highlight
  font-weight 100
  font-size 32px
  padding 0
  margin 0

.highlight
  color highlight

.content 

  .arrow
    background-color #00000000
    background-image url('/img/left.png')
    background-position center
    background-repeat no-repeat
    height 600px
    position absolute
    top 140px
    transition all .5s ease
    width 194px

  .arrow:hover
    background-image url('/img/left-down.png')
    background-color #00000011

  .left.arrow
    left 0

  .right.arrow
    right 0
    transform scale(-1, 1)

  .images
    overflow-x hidden
    width 100%

  .allImages
    left 0px
    position relative
    transition all .5s ease
    width 200000px

    img
      display inline-block
      float left
      height 600px
      margin 0 40px 0 0
      opacity .2
      transition all .5s ease
      border 1px #444 solid

    img.selected
      opacity 1

.menu 
  clear both
  overflow-x scroll
  overflow-y hidden
  height 102px
  margin auto
  padding-top 20px
  width 60%

  .allMenu
    left 0px
    position relative
    transition all .5s ease
    width 200000px

    img 
      clear none
      display inline-block
      float left
      margin 0 10px 0 10px
      height 100px
      border 1px #444 solid

.book, .myself
  width 60%
  margin auto


  img 
    float right

  ul 
    margin 0
    padding 0
    list-style-type none

  .soft
    color #AAA

.client 

  margin auto
  width 60%
  
  img
    border 1px solid #777
    margin 2px

  .download 

    margin 20px
    text-align center

    .subtext
      font-size 10pt
      color #AAA

    a
      color highlight
      font-size 24pt
      font-weight 400


.nav 
  clear both
  padding 10px 0 10px 0
  text-align center

  ul 
    display block
    list-style-type none
    margin auto 
    width 950px 
    
    li 
      display inline
      font-size 40px
      font-weight 100
      padding 0 10px 0 10px

      .active
        color highlight

.myself 

  .images
    float: right
    width: 210px

    img 
      padding: 5px

footer
  color #bbb
  font-size 12px
  padding-top 40px
  text-align center
  width 100%

